.main {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin-left: 14%;
    /* border: 5px solid #ac4f22; */
}

.find {
    margin-right: 5%;
    font-family: 'Roboto', sans-serif;
    flex: 0 0 43%;
    border: 5px solid #ac4f22;
    flex-direction: column;
    background-color: #f5ebda;
    height: 550px;
}

.header {
    background-color: grey;
    margin-top: 0%;
    height: 60px;
    text-align: center;
}

.create {
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    flex: 1;
    border: 5px solid #ac4f22;
    flex-direction: column;
    background-color: #f5ebda;
    height: 550px;
}

.button {
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}