/* createCard component*/
.createCard {
  text-align: center;
  /* background-color: rgb(206, 213, 223); */
  /* height: 75vh; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.uploader {
  background-color: white;
  padding: 32px;
  margin-top: 1.25%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.cardResult {
  display: flex;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  filter: invert(97%) sepia(1%) saturate(4748%) hue-rotate(182deg) brightness(87%) contrast(102%);
}