.myDecks {
  display: flex;
}

.deckCover {
  border: solid 1px black;
  width: 150px;
  height: 300px;
  text-align: center;
  background-image: url('../../models/quasiboundcardback.png');
  background-size: 100% 100%;
}

.deckCover:hover {
  border: solid 5px blue;
}

.color {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.cardsList {
  border: solid 1px black;
  position: absolute;
  right: 0em;
  background-color: white;
}

.deckCards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#buttonsContainer {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

/* #quitEdit {
  position: fixed;
  right: 5%;
  bottom: 5%;
} */