.myDecks {
  display: flex;
}

.deckCover {
  border: solid 1px black;
  width: 150px;
  height: 300px;
  text-align: center;
}

.cardsList {
  border: solid 1px black;
  position: absolute;
  /* top: 0em; */
  right: 0em;
}