span.you {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 200px;
    max-width: 200px;
    transform: translate3d(0, -50%, 0);
    font-size: 5vw;
    line-height: 0.9em;
    pointer-events: none;
    top: 140px;
    left: 50px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

span.enemy {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 200px;
    max-width: 200px;
    transform: translate3d(0, -50%, 0);
    font-size: 5vw;
    line-height: 0.9em;
    pointer-events: none;
    top: 140px;
    left: 77%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}



span.Done {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 200px;
    transform: translate3d(0, -50%, 0);
    font-size: 5em;
    line-height: 0.9em;
    pointer-events: none;
    top: 30%;
    left: 44%;
}

span.spell {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 200px;
    max-width: 200px;
    transform: translate3d(0, -50%, 0);
    font-size: 2em;
    line-height: 0.9em;
    pointer-events: none;
    top: 10%;
    left: 44%;
}

.good {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 200px;
    max-width: 200px;
    transform: translate3d(0, -50%, 0);
    font-size: 10vw;
    line-height: 0.9em;
    color: green;
    pointer-events: none;
    top: 80%;
    margin: 10%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.okay {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 200px;
    max-width: 200px;
    transform: translate3d(0, -50%, 0);
    font-size: 10vw;
    line-height: 0.9em;
    color: yellow;
    pointer-events: none;
    top: 80%;
    margin: 10%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bad {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 200px;
    max-width: 200px;
    transform: translate3d(0, -50%, 0);
    font-size: 10vw;
    line-height: 0.9em;
    color: red;
    pointer-events: none;
    top: 80%;
    margin: 10%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}