span.you {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    /* display: inline-block; */
    width: 200px;
    /* transform: translate3d(0, -50%, 0); */
    font-size: 5em;
    line-height: 0.9em;
    pointer-events: none;
    top: 200px;
    left: 50px;
}

span.enemy {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    /* display: inline-block; */
    width: 200px;
    /* transform: translate3d(0, -50%, 0); */
    font-size: 5em;
    line-height: 0.9em;
    pointer-events: none;
    top: 200px;
    left: 90%;
}