.ResourcePoints {
    border: 3px solid black;
    border-radius: 30px;
    position: relative;
    height: 20px;
    width: 20px;
}

.Resourceholder {
    display: flex;
    flex-wrap: wrap;
    width: 7vw;
    height: 10%;
    /* border: 3px solid blue; */
}

.Resourceholdermobile {
    display: flex;
    flex-wrap: wrap;
    width: 10vw;
    height: 10%;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    height: 120px;
    width: 60px;
    overflow: hidden;
}

.card_title {
    height: 10%;
    width: 70%;
    overflow: hidden;
    font-size: 9px;
    font-weight: bolder;
}

.card_resource {
    height: 10%;
    width: 20%;
    margin-left: 8%;
    font-weight: bolder;
}

.card_img {
    border-radius: 30px;
    position: relative;
    height: 50px;
    width: 30px;
    bottom: 0%;
}

.card_stats {
    display: table-column;
    width: 22px;
    font-size: 12px;
    position: relative;
    bottom: 0%;
    left: -5%
}

.cardClass {
    position: relative;
    bottom: 10%;
}

.cardDesc {
    height: 25px;
    width: 55px;
    position: absolute;
    overflow: hidden;
    bottom: 5%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin-left: 10%;
    /* border: 3px solid blue; */
}

.hover {
    border: 4px solid black;
    position: relative;
    height: 480px;
    width: 240px;
    background-color: white;
    bottom: 75%;
}

.hover-station {
    border: 4px solid black;
    position: relative;
    height: 480px;
    width: 240px;
    bottom: 75%;
}

.hover-station:hover {
    border: 4px solid red;
    position: relative;
    height: 480px;
    width: 240px;
    bottom: 75%;
}

.hover:hover {
    border: solid 4px blue;
    animation: hidden ease-in-out 1s;
}

@keyframes hidden {
    from { height: 470px; }
    to { height: 480px; }
}

.hover_img {
    height: 200px;
    width: 233px;
}

.card_background {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/093/695/small/marble-background-vector.jpg');
}

.slot_background:hover {
    border: solid 4px red;
}

.hover_title{
    font-weight: bolder;
    font-size: 18px;
    background-color: white;
    opacity: 90%;
}

.top_stats {
    display: flex;
    height: 30px;
    align-content: space-between;
    justify-content: center;
    background-color: white;
    opacity: 90%;
}
.is_character {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: 90%;
}
.stat {
    margin-left: 10px;
    background-color: white;
    opacity: 90%;
    vertical-align: text-bottom;
}

.hover_resource {
    font-weight: bolder;
    font-size: 18px;
    background-color: rgb(30, 30, 74);
    color: white;
}

.hover_stats {
    font-size: 15px;
    font-weight: bold;
    vertical-align: text-bottom;
}

.hover_lore {
  font-weight: bold;
  font-size: 11px;
}

.placements {
  position: absolute;
  right: 15%;
}

.twodenv {
    position: relative;
}

.slots, .enemySlots {
  display: flex;
}

.slot {
  border: 3px solid blue;
  height: 20px;
  background-color: gray;
  width: 20px;
  margin-top: 2%;
  margin-right: 3px;
}

.enemySlot {
  border: 3px solid red;
  height: 20px;
  background-color: gray;
  width: 20px;
  margin-top: 2%;
  margin-right: 3px;
}

.enemyPlaced {
  border: 3px solid red;
  height: 20px;
  background-color: black;
  width: 20px;
  margin-top: 2%;
  margin-right: 3px;
}

.placed {
  border: 3px solid blue;
  height: 20px;
  background-color: black;
  width: 20px;
  margin-top: 2%;
  margin-right: 3px;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-image: url('../../../models/quasiboundcardback.png');
  background-size: 100% 100%;
  height: 120px;
  left: 2.6%;
  width: 60px;
  font-weight: bolder;
  font-size: 12px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.cardpos {
  display: flex;
  flex-wrap: wrap;
}

.playcard {
  position: absolute;
  margin-left: 240px;
  top: -12vw;
  padding: 5vw 1vw 5vw 1vw;
  width: auto;
}

.playcard:hover {
  position: absolute;
  margin-left: 240px;
  top: -12vw;
  width: auto;
  animation: select ease-out 1s forwards;
}

@keyframes select {
  from { padding: 5vw 1vw 5vw 1vw; }
  to { padding: 5vw 3vw 5vw 3vw; }
}

@keyframes unselect {
  from { padding: 5vw 3vw 5vw 3vw; }
  to { padding: 5vw 1vw 5vw 1vw; }
}

.playcardtext {
  max-width: 100px;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 1vw;
  font-weight: bold;
}

.discard {
    position: absolute;
    width: 100%;
    bottom: 100%;
    margin-left: 150%;
}

.buttonPos {
    position: fixed;
    right: 1%;
    bottom: 7%;
}

.todo {
    border: 2px solid red;
    position: absolute;
    width: 50%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    width: 100%;
    left: 10%;
}